<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 mr-1 alert alert-info">
      <h4>Total Customers: {{totalCus}}</h4> 
    </div>
    <div class="col-sm-4 alert alert-info">
      <h4>Total Transactions:</h4> 
    </div>
  </div>
  <!-- row 1 -->
  <div class="row mb-1">
    <div class="col-sm-4 box">
      <a href="/admin/post/new/service/" class="btn btn-primary">Post a new Service</a>
    </div>
    <div class="col-sm-4 box">
      <a href="/admin/all/services/" class="btn btn-primary">View all Services</a>
    </div>
    <div class="col-sm-4 box">
      <a href="#" class="btn btn-primary">View Transactions</a>
    </div>
  </div>
  <!-- row 2 -->
  <div class="row">
    <div class="col-sm-4 box">
      <a href="#" class="btn btn-primary">View Bookings</a>
    </div>
    <div class="col-sm-4 box">
      <a href="/admin/all/customers/" class="btn btn-primary">View Customers</a>
    </div>
  </div>
</div>