{{#if success}}
<div class="alert alert-success dialog">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <p>{{success}}</p>
</div>
{{/if}}

{{#if error}}
<div class="alert alert-danger dialog">
  <a href="#" class="close" data-dismiss="alert">&times;</a>
  <p>{{error}}</p>
</div>
{{/if}}