 <div class="row body">
          <div class="hero-image">
            <div class="hero-text">
            <img src="/img/Cool Text - We clean you relax 322495451708846 copy.png" height="87px"> 
  </div>
  

 </div>
        </div>       
        </div>

            <!-- how we work -->

<div class="we_work" id="we_work"><div><h3>HOW WE WORK</h3>

<section class="section-features js--section-features" id="features">

        <div class="row js--wp-1">
            <div class="col span-1-of-4 box">
                <img src="/img/schedule.png" width="110px">
                <h3>Schedule us</h3>
                <p>
                    Book a home cleaning from your phone, tablet or computer. We connect you with a cleaner in minutes.
                </p>
            </div>
            <div class="col span-1-of-4 box">
                <img src="/img/vap_3816493687.jpg" width="140px">
                <h3>We Clean</h3>
                <p>
                    The trusted, experienced and insured cleaner arrives to give your place an awesome clean.
                </p>
            </div>
            <div class="col span-1-of-4 box">
               <img src="/img/relax.jpg" width="130px">
                <h3>You Relax</h3>
                <p>
                    That's it! Now you can sit back, relax and figure out what to do with all that extra time.
                </p>
                </div>
            </div>
            <div class="background-checked">
            <h5>All our Cleaners are background-checked, bonded and fully insured.</h5>
            </div>
        </div>
    </div>    
    </section>


    <!-- background about hyge -->

<div class="background">
  <div class="transbox">
    <div class="services-0"><h2>Hyge cleaning is bringing harmony to homes across Nigeria with a fresh approach to home cleaning services.</h2></div>
                <p>
                    Booking a home clean on our website takes just one minute, and from only N1,200 per hour you can fully customise the service you'll receive, from bringing our own cleaning products to supplying your own, from the number of bedrooms and bathrooms that require cleaning to the extra chores you require in addition to the standard dishes, dusting, mopping and vacuuming, such as taking care of your laundry or ironing your clothes.

                    Whether you're putting your feet up at home throughout the clean or heading to the office after letting the hyge cleaner into your apartment, enjoy the comfort and confidence that comes with knowing that your home is in good hands. We understand that it isn't easy to find someone new that you can trust to let in to your personal space among your belongings, which is why every hyge cleaner has been personally vetted by hyge management, has been reviewed time and again by our customers and is insured for your peace of mind.
                </p>
            </div>
  </div>
</div>

    <!-- General Clean -->

<section class="general_clean">
        

        <div class="row js--wp-1">
            <div class="col span-1-of-4 box">

                <h3>General clean of living room and other living areas includes:</h3>
                <p>
<li>Dusting of furniture and surfaces</li>
<li>Mopping of floors</li>
<li>Dusting and wiping of skirtings</li>
<li>Dusting and wiping of electronics, pictures frames etc.</li>
<li>Dusting and wiping of light switches and other fixtures</li>
                </p>
            </div>
            
            <div class="col span-1-of-4 box">
              
                
                <p>
                    <img src="/img/living-room.jpg" alt="living room" width="100%" height="80%">
                </p>
            </div>
           
        </div>
    </section>

    <section class="general_clean2">
        

        <div class="row js--wp-1">
            <div class="col span-1-of-4 box">
                <p>
<img src="/img/kitchen.jpg" alt="kitchen" width="100%" height="80%">
                </p>
            </div>
            
            <div class="col span-1-of-4 box">
              
              <h3>General clean of kitchen includes:</h3>  
                <p>
                   
<li>Wiping of surfaces, sinks and appliances</li>
<liWashing of dishes></li>
<li>liWiping outside of cupboards and fridge</li>
<li>Wiping of walls</li>
<li>Emptying bins and cleaning bin area</li>
<li>Mopping floors</li>
                </p>
            </div>
           
        </div>
    </section>


    <section class="general_clean3">
        

        <div class="row js--wp-1">
            <div class="col span-1-of-4 box">

                <h3>General clean of Bedroom includes:</h3>
                <p>

<li>General clean of bedrooms includes:</li>
<li>Dusting of furniture and surfaces</li>
<li>Making bed</li>
<li>Mopping floors</li>
<li>Dusting and wiping of skirtings</li>
<li>Folding or hanging of clothes in bedroom</li>
                </p>
            </div>
            
            <div class="col span-1-of-4 box">
              
                
                <p>
                    <img src="/img/bedroom.jpg" alt="living room" width="100%" height="80%">
                </p>
            </div>
           
        </div>
    </section>

    <section class="general_clean4">
        

        <div class="row js--wp-1">
            <div class="col span-1-of-4 box">
                <p>
<img src="/img/bathroom.jpg" alt="kitchen" width="100%" height="80%">
                </p>
            </div>
            
            <div class="col span-1-of-4 box">
              
              <h3>General clean of  Bathroom includes:</h3>  
                <p>
                   <li>Cleaning of shower, bath and sinks</li>
                   <li>Toilet clean</li>
                   <li>Wiping of counters and taps</li>
                   <li>Wiping of walls and mirrors</li>
                   <li>Wiping outside of cupboards and cabinets</li>
                   <li>Folding or hanging of clean towels</li>
                   <li>Emptying bins and cleaning bin area</li>
                   <li>Mopping floors</li>
                </p>
            </div>
           
        </div>
    </section>

    <!-- Frequently Ask questions -->

<div class="faq" id="faq">

<div class="ask"><h3>Frequently Asked Question.</h3>
<p></p>Domestic workers, maids, or housekeepers, we prefer the term "Hyge Ultimate Cleaners". Either way, they're looking forward to helping you clean your home. Have any questions?To assist, we have outlined some  FAQ's,and also included how best to use the  platform in different cases.
</p>
<div class="faq_all"></div>

</div>


<section class="faq0">
        

        <div class="row js--wp-1">
            <div class="col span-1-of-4 box">

              
               <h3>What are your operating times?</h3><br>
<p>We operate Monday to Sunday 7:00am to 6:00pm. However, <br>bookings can be made 24/7 from your mobile, tablet or computer.</p>
            </div>
            
            <div class="col span-1-of-4 box">
              
                
               
             <h3>What is your hourly rate?</h3> <br>
 <p>Our rate is N1200 per hour. This ensures that cleaners <br>are paid decent wages for the excellent work they do. <br>We run periodic specials and give out vouchers, so keep an eye out<br> for our discounted rates.
                </p>
            </div>
           
        </div>
    </section>


    <section class="faq0">
        

        <div class="row js--wp-1">
            <div class="col span-1-of-4 box">

              
               <h3>How do I book with the same details for a <br>different date and time?</h3>
<p>You can quickly and easily make a new booking, <br>based on a completed/previous booking, by selecting the <br>relevant booking, Tap the "Book Now" button to review the details and <br>select the new date and time.</p>
            </div>
            
            <div class="col span-1-of-4 box">
              
              <h3> do the calculated estimates work?  </h3>
               
             <p>
               
While the hyge booking platform calculates the estimated<br> amount of time needed to clean your place, please note that you <br>are able to manually change the number of cleaning hours to suit your <br>timeframes and pocket. Note that payments are based on<br> the actual hours it took to do the<br> cleaning and cleaning time should only be adjusted with your consent.
                </p>
            </div>
           
        </div>
    </section>

 <section class="faq0">
        

        <div class="row js--wp-1">
            <div class="col span-1-of-4 box">

              
               <h3>How does the payment works?</h3>

<p>Payment information is taken securely online as part of the <br>booking process. Your card details will be used to reserve your <br>appointment. Payments are currently made by credit or cheque card and <br>this site is protected by a 256-bit SSL encryption, ensuring your data is<br> safe at all times.</p>
            </div>
            
            <div class="col span-1-of-4 box">
              
              <h3> Can I tip my Cleaner? </h3>
               
             <p>
               
 
Yes. After your booking, you will get a chance to <br>rate and tip your cleaner online. Please note, tipping is optional and is enabled <br>when you give a positive rating
                </p>
            </div>
           
        </div>
    </section>

    
    <div class="contact_us" id="contact_us">
        <h2>Contact us today.</h2>
<p>Our cleaners rest assured too, knowing that with Hyge, they <br>can establish a career to be proud of with steady work and increased earning potential.</p>
    
<br>
<!-- Section: Contact -->
  <section class="section-features js--section-features" id="features"></section>

        <div class="row js--wp-1">
            <div class="col span-1-of-4 box">
                <img src="/img/head office icon.png" width="50px" height="60px">
                <div>Number 67 Old Road Naze Owerri</div>
               
            </div>
            <div class="col span-1-of-4 box">
                <img src="/img/gmail.png" width="50px" height="60px">
                <div>Hygecleaning@gmail.com</div>
            
            </div>
            <div class="col span-1-of-4 box">
                 <img src="/img/Call-icon.png" width="50px" height="60px">
                 <div>+2348079701087</div>
                </div>
           
            <div class="col span-1-of-4 box">
               <img src="/img/fax.png" width="50px" height="60px">
                <div>00093-7837-771884</div>
                
                </div>
                 </div>
        </div>

</div>    </section>
     
 <footer>
 <div class="row">

            <div class="col span-1-of-2">
                <ul class="footer-nav">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">iOS App</a></li>
                    <li><a href="#">Andriod App</a></li>
                </ul>

            </div>

            <div class="col span-1-of-2">
                <ul class="social-links">
                    <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                    <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                </ul>

            </div>

        </div>
<div class="copy">
            <p>
                copyright &copy; 2019 by Hyge Cleaning. All rights reserved
            </p>
</div>
</footer>

  <!-- JQuery CDN -->
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

  <!-- Local JS File -->
  <script src="js/main.js"></script>

  <!-- Google Maps -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoZg2Es_GrQHZf_52j2-xZ3cTfBCR0HII&callback=initMap"
  async defer></script>
<script src="/js/gmaps.js"></script>
