<section class="faq0">
        <div class="row js--wp-1"></div>
        <div class="col span-1-of-4 box card">

            <h1 class="">Hyge Cleaning Registration Form</h1>
                <form action="signup" action="/customer/signup/" method="post">

                    <br>

                    <label>Full Name: </label>
                    <input type="text" placeholder="Enter Fullname" name="fullname" required>
                    <br>
                    <label>Email Address: </label>
                    <input type="text" placeholder="Email Address" name="emailAddress" required>
                    <br>

                    <label>Phone Number: </label>
                    <input type="text" value="+234" name="phoneNo" required maxlength="14">
                    <br>

                    <label>Residence Address: </label>
                    <input type="text" placeholder="Residence Address" name="address">
                    <br>


                    <label>Password:</label>
                    <input type="password" placeholder="password" name="password" required>
                    <br />
                    <input type="submit" name="submit" value="Create My Account" class="btn btn-success">
            </div>
        </div>

    </div>
    </form>
    </div>
</section>     
 <footer>
 <div class="row">

            <div class="col span-1-of-2">
                <ul class="footer-nav">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">iOS App</a></li>
                    <li><a href="#">Andriod App</a></li>
                </ul>

            </div>

            <div class="col span-1-of-2">
                <ul class="social-links">
                    <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                    <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                </ul>

            </div>

        </div>
<div class="copy">
            <p>
                copyright &copy; 2019 by Hyge Cleaning. All rights reserved
            </p>
</div>
</footer>
