<div class="team">
<h2>Join Our Team</h2>
<br>
<h4>These information will make us know more about you</h4>
</div>

<section class="faq0">
        

        <div class="row js--wp-1">
            <div class="col span-1-of-4 box">

              
               <h5>PERSONAL DETAILS</h5>
  <div _ngcontent 0cl class="col-sm-5 col-sm-offset-1">
    <div _ngcontent-cl class="form-group label-floating is-empty">
      <label -ngcontent-cl class="control-label">First Name</label>
      <input _ngcontent-cl class="form-control ng-pristine ng-valid ng-touched" id="fname" name="fname" type="text" ng-reflect-name="fname">
    </div>
  </div>

  <div _ngcontent 0cl class="col-sm-5 col-sm-offset-1">
    <div _ngcontent-cl class="form-group label-floating is-empty">
      <label -ngcontent-cl class="control-label">Last Name</label>
      <input _ngcontent-cl class="form-control ng-pristine ng-valid ng-touched" id="lname" name="lname" type="text" ng-reflect-name="lname">
    </div>
  </div>

  <div _ngcontent 0cl class="col-sm-5 col-sm-offset-1">
    <div _ngcontent-cl class="form-group label-floating is-empty">
      <label -ngcontent-cl class="control-label">Email Address</label>
      <input _ngcontent-cl class="form-control ng-pristine ng-valid ng-touched" id="email" name="email" type="email" ng-reflect-name="email">
    </div>
  </div>

  <div _ngcontent 0cl class="col-sm-5 col-sm-offset-1">
    <div _ngcontent-cl class="form-group label-floating is-empty">
      <label -ngcontent-cl class="control-label">Phone number</label>
      <input _ngcontent-cl class="form-control ng-pristine ng-valid ng-touched" id="phone" name="phone" type="number" ng-reflect-name="phone">
    </div>
  </div>

  <div _ngcontent 0cl class="col-sm-5 col-sm-offset-1">
    <div _ngcontent-cl class="form-group label-floating is-empty">
      <label -ngcontent-cl class="control-label">Address</label>
      <input _ngcontent-cl class="form-control ng-pristine ng-valid ng-touched" id="address" name="address" type="text" ng-reflect-name="address">
    </div>
  </div>

  <div _ngcontent 0cl class="col-sm-5 col-sm-offset-1">
    <div _ngcontent-cl class="form-group label-floating is-empty">
      <label -ngcontent-cl class="control-label">Location</label>
      <input _ngcontent-cl class="form-control ng-pristine ng-valid ng-touched" id="location" name="location" type="text" ng-reflect-name="location">
    </div>
  </div>

  <div _ngcontent 0cl class="col-sm-5 col-sm-offset-1">
    <div _ngcontent-cl class="form-group label-floating is-empty">
      <label -ngcontent-cl class="control-label">Password</label>
      <input _ngcontent-cl class="form-control ng-pristine ng-valid ng-touched" id="password" name="password" type="text" ng-reflect-name="password">
    </div>
  </div>
            </div>
          
            <div class="col span-1-of-4 box">
              
              <h5> EXPERIENCE/REFERRAL</h5>
               
            <div _ngcontent 0cl class="col-sm-5 col-sm-offset-1">
    <div _ngcontent-cl class="form-group label-floating is-empty">
      <label -ngcontent-cl class"control-label">How did you hear about us?</label>
      
      <select _ngcontent-cl class="form-control ng-pristine ng-valid ng-touched" id="experience" name="experience" type="text" ng-reflect-name="experience">
      <option _ngcontent- selected disabled></option>
      <option _ngcontent-cl>A Friend</option>
      <option _ngcontent-cl>A Cleaner</option>
      <option _ngcontent-cl>A Customer</option>
      <option _ngcontent-cl>Through Adverts</option>
      <option _ngcontent-cl>Social Media</option>
      <option _ngcontent-cl>Our Website</option>
      </select>
    </div>
  </div>

  <div _ngcontent 0cl class="col-sm-5 col-sm-offset-1">
    <div _ngcontent-cl class="form-group label-floating is-empty">
      <label -ngcontent-cl class"control-label">How many paid job have you done?</label>
      <select _ngcontent-cl class="form-control ng-pristine ng-valid ng-touched" id="paid-jobs" name="paid-jobs" type="text" ng-reflect-name="paid-jobs">
      <option _ngcontent- selected disabled></option>
      <option _ngcontent-cl>1</option>
      <option _ngcontent-cl>2</option>
      <option _ngcontent-cl>3</option>
      <option _ngcontent-cl>4</option>
      <option _ngcontent-cl>5</option>
      <option _ngcontent-cl>Not Listed </option>
      </select>
    </div>
  </div>

<div _ngcontent 0cl class="col-sm-5 col-sm-offset-1">
    <div _ngcontent-cl class="form-group label-floating is-empty">
      <label -ngcontent-cl class"control-label">What is your educational level?</label>
      <select _ngcontent-cl class="form-control ng-pristine ng-valid ng-touched" id="education" name="education" type="text" ng-reflect-name="education">
      <option _ngcontent- selected disabled></option>
      <option _ngcontent-cl>FSLC</option>
      <option _ngcontent-cl>WAEC</option>
      <option _ngcontent-cl>OND</option>
      <option _ngcontent-cl>HND</option>
      <option _ngcontent-cl>BSC</option>
      <option _ngcontent-cl>Not Listed </option>
      </select>
    </div>
  </div>
            </div>

            <div class="col span-1-of-4 box">
              
              <h5> IDENTIFICATION </h5>
               
            <div _ngcontent 0cl class="col-sm-5 col-sm-offset-1">
    <div _ngcontent-cl class="form-group label-floating is-empty">
      <label -ngcontent-cl class"control-label">Form of identification</label>
      <select _ngcontent-cl class="form-control ng-pristine ng-valid ng-touched" id="identification" name="identification" type="text" ng-reflect-name="identification">
      <option _ngcontent- selected disabled></option>
      <option _ngcontent-cl>Voters Card</option>
      <option _ngcontent-cl>National ID Card</option>
      <option _ngcontent-cl>Drivers Lincence</option>
      <option _ngcontent-cl>School ID Card</option>
      <option _ngcontent-cl>Not Listed </option>
      </select>
    </div>
  </div>

         <div _ngcontent 0cl class="col-sm-5 col-sm-offset-1">
    <div _ngcontent-cl class="form-group label-floating is-empty">
      <label -ngcontent-cl class"control-label">State of origin</label>
      <select _ngcontent-cl class="form-control ng-pristine ng-valid ng-touched" id="identification" name="identification" type="text" ng-reflect-name="identification">
      <option _ngcontent- selected disabled></option>
      <option _ngcontent-cl>Abia</option>
      <option _ngcontent-cl>Adamawa</option>
      <option _ngcontent-cl>Akwa Ibom</option>
      <option _ngcontent-cl>Anambra</option>
      <option _ngcontent-cl>Bauchi</option>
      </select>
    </div>
  </div>
  
  <div _ngcontent 0cl class="col-sm-5 col-sm-offset-1">
    <div _ngcontent-cl class="form-group label-floating is-empty">
      <label -ngcontent-cl class="control-label">L.G.A</label>
      <input _ngcontent-cl class="form-control ng-pristine ng-valid ng-touched" id="lga" name="lga" type="text" ng-reflect-name="lga">
    </div>
  </div>

  
  <div _ngcontent 0cl class="col-sm-5 col-sm-offset-1">
    <div _ngcontent-cl class="form-group label-floating is-empty">
      <label -ngcontent-cl class="control-label">Mothers Name</label>
      <input _ngcontent-cl class="form-control ng-pristine ng-valid ng-touched" id="mother" name="mother" type="text" ng-reflect-name="mother">
    </div>
  </div>

   <div _ngcontent-cl class="col-sm-5 col-sm-offset-1">
     <div _ngcontent-cl class="picture-container">
       <div _ngcontent-cl class="picture">
         <img _ngcontent-cl class="picture-src" id="picturePreview" src="/img/user-profile.jpg" title="hyge clean" height="100px;" width="100px">
         <input _ngcontent-cl id="picturePreview" type="file">
       </div>
       <h6 ngcontent-cl>Choose image (format: jpg, png, gif)</h6>
     </div>
   </div>
            </div>

            <div class="col span-1-of-4 box">
              
              <h5> BOARDING </h5>
              
               
  <div _ngcontent 0cl class="col-sm-5 col-sm-offset-1">
    <div _ngcontent-cl class="form-group label-floating is-empty">
      <label -ngcontent-cl class"control-label">Bank Name</label>
      <select _ngcontent-cl class="form-control ng-pristine ng-valid ng-touched" id="bank" name="bank" type="text" ng-reflect-name="bank">
      <option _ngcontent- selected disabled></option>
      <option _ngcontent-cl>Access Bank</option>
      <option _ngcontent-cl>Citi Bank</option>
      <option _ngcontent-cl>Diamond Bank</option>
      <option _ngcontent-cl>EcoBank Nigeria</option>
      <option _ngcontent-cl>Fidelity Bank</option>
      <option _ngcontent-cl>FirtBank Of Nigeria</option>
      <option _ngcontent-cl>First City Monument Bank</option>
      <option _ngcontent-cl>Guaranty Trust Bank</option>
      <option _ngcontent-cl>Heritage Bank Plc</option>
      <option _ngcontent-cl>Keystone Bank Plc</option>
      <option _ngcontent-cl>Providus Bank Plc</option>
      <option _ngcontent-cl>Skye Bank</option>
      <option _ngcontent-cl>Stanbic IBTC Bank Nigeria</option>
      <option _ngcontent-cl>Standared Chartered Bank</option>
      <option _ngcontent-cl>Sterling Bank</option>
      <option _ngcontent-cl>Suntrust Bank Nigeria Limited</option>
      <option _ngcontent-cl>Union Bank Of Nigeria</option>
      <option _ngcontent-cl>United Bank For Africa</option>
      <option _ngcontent-cl>Unity Bank</option>
      <option _ngcontent-cl>Wema Bank</option>
      <option _ngcontent-cl>Zenith Bank</option>
      </select>
    </div>
  </div>
          
           
            
  <div _ngcontent 0cl class="col-sm-5 col-sm-offset-1">
    <div _ngcontent-cl class="form-group label-floating is-empty">
      <label -ngcontent-cl class="control-label">Account Name</label>
      <input _ngcontent-cl class="form-control ng-pristine ng-valid ng-touched" id="accname" name="accname" type="text" ng-reflect-name="accname">
    </div>
  </div>

   
  <div _ngcontent 0cl class="col-sm-5 col-sm-offset-1">
    <div _ngcontent-cl class="form-group label-floating is-empty">
      <label -ngcontent-cl class="control-label">Account Number</label>
      <input _ngcontent-cl class="form-control ng-pristine ng-valid ng-touched" id="accnumber" name="accnumber" type="text" ng-reflect-name="accnumber">
    </div>
  </div>
    </div>
        </div>
    </section>