<div class="row body">
  <div class="hero-image">

    <div class="prices">
      <h2> Cleaning Prices</h2>
      <h3> Reasonably Prices of our services<br> with No hidden fees and No surprises</h3>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    <br>
    {{#if bookingServices}}
    <div class="row">
      {{#each bookingServices}}
      <div class="col-sm-3 card text-center booking-box">
        <h4>{{name}}</h4>
        <p><i>{{amount}}</i></p>
        <a href="/customer/make/payment/{{id}}/" class="btn btn-primary">Book Now</a>
      </div>
      {{/each}}
    </div>
    {{else}}
    <div class="alert alert-warning">
      <p>No bookings found</p>
    </div>
    {{/if}}
  </div>