<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <ul class="nav flex-column">
        <li class="nav-item mb-1">
          <a href="/customer/booking/" class="nav-link btn btn-outline-success">Book Now</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link btn btn-outline-success">MyBookings</a>
        </li>
      </ul>
    </div>

    <div class="col-md-9">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            MyBookings
          </h3>
        </div>
        <div class="card-body">
          {{#if mybookings}}
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#sn</th>
                <th>Service name</th>
                <th>Amount (NGN)</th>
              </tr>
            </thead>
            <tbody>
              {{#each mybookings}}
              <tr>
                <td>{{@index}}</td>
                <td>{{serviceName}}</td>
                <td>{{serviceAmount}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          {{else}}
          <div class="alert alert-info">
            <p>
              <i class="fas fa-hand"></i>
              Sorry no booking found
            </p>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>